* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfdddd;

}

.sidebar-content {

  overflow: auto !important;
  width: 100%;
  margin: auto;
}

.content-panel {
  border: none;
  width: 77%;
  margin-right: 20px;
  float: left;
  box-shadow: 2px 2px 10px 2px rgba(210, 207, 207, 0.2);
  padding: 15px;
}

.sidebar {
  border: none;
  height: 100vh;
  /* width: 20%; */
  box-shadow: 2px 2px 10px 2px rgba(198, 197, 197, 0.9);
  float: left;
  background-color: #333;
  display: none;
  position: relative;
  padding: 100px 0;

}

.openNav.sidebar {
  display: block;
  width: 20%;

}

.sidebar a {

  display: block;
  color: #c2bebe;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.sidebar a:hover {

  color: rgb(255, 255, 255);
}

/* Add an active class to highlight the current page */
.sidebar a.active {

  color: white;
}

/* Hide the link that should open and close the sidebar on small screens */
.sidebar .icon {
  display: none;
}

.sidebar i {
  margin-right: 5px;
}

.content-panel h2 {
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: bold;
  opacity: 0.95;
}

.content-panel p {
  padding: 15px;
  width: 94%;
  color: #454545a5;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.open-nav-icon {
  font-size: 50px;
  color: tomato;

}

.close-nav {
  color: red;
  font-size: 23px;
  padding: 3px 10px;
  background-color: #eee;
  border-radius: 8px;
  position: absolute;
  right: 6%;
  top: 2%;

}