* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfdddd;

}

.scrollmenu {
  background-color: #333;
  white-space: nowrap;
  height: 400px;
  width: 30%;
}

.scrollmenu a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  width: 100%;
  margin: 0;

}

.scrollmenu a.active {
  background-color: rgb(104, 170, 104);
}

.scrollmenu a:hover:not(.active) {
  background-color: #5c5959;
}